.idea/
.venv/
Documentation/
__pycache__/
venv/
build/
data/
dist/
hooks/
outputs/
sam2_transforms.pt
src/GRIME_AI/utils/__pycache__/
# Ignore everything in the Installer folder
Installer/*
# But keep the installer script
!Installer/*.iss
src/GRIME_AI/sam2/
src/GRIME_AI/neon/site_summary.xlsx
src/GRIME_AI/neon/test_snippets.py
/src/SAGE/sage_settings.json
